body {
    height:100vh;
}

@keyframes openingSvg{
    0% {
        -webkit-box-shadow: 10px 10px 126px 19px rgba(255,255,255,1);
        -moz-box-shadow: 10px 10px 126px 19px rgba(255,255,255,1);
        box-shadow: 10px 10px 126px 19px rgba(255,255,255,1);
    }
    25% {
        -webkit-box-shadow: 10px 10px 126px 19px rgba(255,255,255,0.65);
        -moz-box-shadow: 10px 10px 126px 19px rgba(255,255,255,0.65);
        box-shadow: 10px 10px 126px 19px rgba(255,255,255,0.65);
    }
    50% {
        -webkit-box-shadow: 10px 10px 126px 19px rgba(255,255,255,0.64);
        -moz-box-shadow: 10px 10px 126px 19px rgba(255,255,255,0.64);
        box-shadow: 10px 10px 126px 19px rgba(255,255,255,0.64);
    }
    75% {
        -webkit-box-shadow: 10px 10px 126px 19px rgba(255,255,255,0.45);
        -moz-box-shadow: 10px 10px 126px 19px rgba(255,255,255,0.45);
        box-shadow: 10px 10px 126px 19px rgba(255,255,255,0.45);
    }
    100% {
        -webkit-box-shadow: 10px 10px 126px 19px rgba(255,255,255,0);
        -moz-box-shadow: 10px 10px 126px 19px rgba(255,255,255,0);
        box-shadow: 10px 10px 126px 19px rgba(255,255,255,0);
    }
}
@keyframes opening{
    0% {
        background-color: rgba(192,57,43,0);
    }

    25% {
        background-color: rgba(192,57,43,0.3);
    }

    50% {
        background-color: rgba(192,57,43,0.5);
    }

    75% {
        background-color: rgba(192,57,43,0.7)
    }

    100% {
        background-color: rgba(192,57,43,1);
    }
}
#opening{
    -webkit-animation-name:opening;
    -webkit-animation-duration:1s;
    -webkit-animation-iteration-count:1;
    animation-name:opening;
    animation-duration:1s;
    animation-iteration-count:1;

    height:100%;
    /*vertical-align:100vh;*/
    position:absolute;
    width:100%;
}
#openingSvg {
    -webkit-animation-name: openingSvg;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    animation-name: openingSvg;
    animation-duration: 1s;
    animation-iteration-count: 1;
    width:100%;
}
