body {
            background-color: antiquewhite !important;
        }

        #mainContainer {
            position: fixed;
        }

        #container {
            background-color: antiquewhite !important;
        }

        #conteudoEstrutura {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
        }

        div.iconesConteudoEstrutura svg {
            width: 10%;
            height: 30%;
        }

        #unidades {
            height: 40%;
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
        }

        #conteudoUnidades {
            height: 100%;
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
        }

        .unidade {
            width: 30%;
            height: 90%;
        }

        .unidades {
            color: #d91e18;
        }

            .unidades:hover {
                color: antiquewhite;
            }

        #antesDepois {
            height: 100vh;
            width: 100%;
        }

        .twentytwenty-wrapper {
            height: 100% !important;
            width: 100% !important;
        }

        .twentytwenty-horizontal {
            height: 100% !important;
            width: 100% !important;
        }

        .twentytwenty-container {
            height: 100%;
            width: 100%;
        }

        .twentytwenty-overlay {
            height: 100%;
            width: 100%;
        }

        .twentytwenty-before-label {
            height: 100%;
            width: 100%;
        }

        .twentytwenty-after-label {
            height: 100%;
            width: 100%;
        }

        #containerAntesDepois {
            height: 100% !important;
            width: 100% !important;
        }

        #imgAntes {
            height: 100% !important;
            width: 100% !important;
        }

        #imgDepois {
            height: 100% !important;
            width: 100% !important;
        }

        nav {
            background-color: white !important;
            box-shadow: none !important;
        }
