/*Animações*/
@keyframes folhaUm {
    0% {
        background-color: #d91e18;
        top: 39%;
    }

    25% {
        background-color: #CCd91e18;
        top: 39%;
    }

    50% {
        background-color: #80d91e18;
        top: 39%;
    }

    75% {
        background-color: #1Ad91e18;
        top: 39%;
    }

    100% {
        background-color: #d91e18;
        top: 40%;
    }
}

@keyframes folhaDois{
    0% {
        background-color: #d91e18;
        top: 48%;
        right:56%;
    }

    25% {
        background-color: #CCd91e18;
        top: 48%;
        right:56%;
    }

    50% {
        background-color: #80d91e18;
        top: 49%;
        right:57%
    }

    75% {
        background-color: #1Ad91e18;
        top: 49%;
        right:56%;
    }

    100% {
        background-color: #d91e18;
        top: 50%;
        right:57%;
    }
}

@keyframes folhaTres{
   from {top: 48%}
   to{top: 50%}
}

#folhaUm{
    animation-name:folhaUm;
    animation-duration:4s;
    animation-delay:2s;
    animation-iteration-count:1;
}
#folhaDois{
    animation-name:folhaDois;
    animation-duration:4s;
    animation-delay:1s;
    animation-iteration-count:infinite;
}
#folhaTres{
    animation-name:folhaTres;
    animation-duration:4s;
    animation-delay:1s;
    animation-iteration-count:1;
}

@keyframes backgroundCamadaUm{
    0% {
        background-color: rgba(217, 30, 24, 0.6);
    }

    25% {
        background-color: rgba(217, 30, 24, 0.7);
    }

    50% {
        background-color: rgba(217, 30, 24, 0.8);
    }

    75% {
        background-color: rgba(217, 30, 24, 0.9);
    }

    100% {
        background-color: rgba(217, 30, 24, 1);
    }
}
@keyframes backgroundCamadaDois {
    0% {
        background-color: rgba(145, 61, 136, 0.6);
    }

    25% {
        background-color: rgba(145, 61, 136, 0.7);
    }

    50% {
        background-color: rgba(145, 61, 136, 0.8);
    }

    75% {
        background-color: rgba(145, 61, 136, 0.9);
    }

    100% {
        background-color: rgba(145, 61, 136, 1);
    }
}

@keyframes backgroundCamadaTres {
    0% {
        background-color: rgba(75, 119, 190, 0.6);
    }

    25% {
        background-color: rgba(75, 119, 190, 0.7);
    }

    50% {
        background-color: rgba(75, 119, 190, 0.8);
    }

    75% {
        background-color: rgba(75, 119, 190, 0.9);
    }

    100% {
        background-color: rgba(75, 119, 190, 0.1);
    }
}

@keyframes backgroundCamadaQuatro {
    0% {
        background-color: rgba(31, 58, 147, 0.6);
    }

    25% {
        background-color: rgba(31, 58, 147, 0.7);
    }

    50% {
        background-color: rgba(31, 58, 147, 0.8);
    }

    75% {
        background-color: rgba(31, 58, 147, 0.9);
    }

    100% {
        background-color: rgba(31, 58, 147, 1);
    }
}

/*Animação bicicleta*/
@keyframes bc{
    0%{
        fill:white;
        margin-top:-22%;
    }
    25% {
        fill: #f62459;
        margin-top: -22%;
    }
    50% {
        fill: #f62459;
        margin-top: -22%;
    }
    100% {
        fill: white;
        margin-top: -22%;
    }
}
@keyframes bc1{
    0% {
        fill: white;
        margin-top: -22%;
        margin-left:10%;
    }   
    15%{

    }
    30%{

    }
    45%{
        fill: #f62459;
        margin-top: -20%;
        margin-left:15%;
    }
    60% {
        fill: #f62459;
        margin-top: -18%;
        margin-left:17%;
    }
    75% {
        fill: #f62459;
        margin-top: -18%;
        margin-left: 18%;
    }
    95% {
        fill: white;
        margin-top: -17%;
        margin-left: 19%;
    }
    100% {
        fill: white;
        margin-top: -16%;
        margin-left:19%;
    }
}

#bc{
    animation-name:bc;
    animation-duration:4s;
    animation-iteration-count:infinite;
}
#bc1{
    /*animation-name:bc1;
    animation-duration:4s;
    animation-iteration-count:infinite;*/
    position:absolute;
}
/*@keyframes bike{
    0% {
        margin-top: 35%;
        margin-left: -13%;
    }
    5% {
        margin-top: 34%;
        margin-left: -13%;
    }
    10% {
        margin-top: 33%;
        margin-left: -13%;
    }
    15% {
        margin-top: 30%;
        margin-left: -15%;
    }
    20% {
        margin-top: 29%;
        margin-left: -15%;
    }
    25% {
        margin-top: 28%;
        margin-left: -15%;
    }
    30% {
        margin-top: 26%;
        margin-left: -17%;
    }
    35% {
        margin-top: 25%;
        margin-left: -17%;
    }
    40% {
        margin-top: 24%;
        margin-left: -17%;
    }
    45% {
        margin-top: 23%;
        margin-left: -19%;
    }
    50% {
        margin-top: 22%;
        margin-left: -19%;
    }
    55% {
        margin-top: 21%;
        margin-left: -19%;
    }
    60% {
        margin-top: 19%;
        margin-left: -21%;
    }
    65% {
        margin-top: 17%;
        margin-left: -21%;
    }
    70% {
        margin-top: 15%;
        margin-left: -21%;
    }
    75% {
        margin-top: 14%;
        margin-left: -23%;
    }
    80% {
        margin-top: 13%;
        margin-left: -23%;
    }
    85% {
        margin-top: 12%;
        margin-left: -25%;
    }
    90% {
        margin-top: 12%;
        margin-left: -26%;
    }
    95% {
        margin-top: 11%;
        margin-left: -27%;
    }
    100%{
        margin-top:10%;
        margin-left:-28%;
    }
}*/
@keyframes bike {
    0% {
        margin-top:   35%;
        margin-left: -25%;       
    }
    15% {
        margin-top: 23%;
        margin-left: -26%;
    }

    30% {
        margin-top: 22%;
        margin-left: -27%;
    }

    45% {
        margin-top: 21%;
        margin-left: -28%;
    }

    60% {
        margin-top: 20%;
        margin-left: -29%;
    }
    75% {
        margin-top: 17%;
        margin-left: -30%;
    }
    90% {
        margin-top: 15%;
        margin-left: -32%;
    }

    100% {
        margin-top: 10%;
        margin-left: -33%;
    }
}
#bike{
    animation-name:bike;
    animation-duration:4s;
    animation-iteration-count:infinite;
    animation-delay:1s;
}

body {
    height: 100vh;
    font-family: Roboto;
    color: white;
}

span {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: rgba(238, 238, 238, 1);
}

    span:hover {
        /*font-size: 19px;
                color: white;*/
        text-shadow: 1px 1px rgba(238, 238, 238, 1);
        /*-webkit-transition: color 1s, font-size 1s;
                -moz-transition: color 1s, font-size 1s;
                -o-transition: color 1s, font-size 1s;
                transition: color 1s, font-size 1s;*/
    }

.is-active {
    display: block !important;
    visibility: visible !important;
}

.camada {
    height: 106%;
    width: 100%;
}

/*.descricao {
            width: 20%;
            height: 100%;
        }

        .imagem {
            width: 50%;
            height: 100%;
        }

        .conteudo {
            width: 30%;
            height: 100%;
        }*/

/*Vertical align com altura fixa para centralizar os textos*/
.descricao {
    width: 20%;
    height: 760px;
    vertical-align: middle;
    margin-top: 20%;
    margin-left: 5%;
}

.imagem {
    width: 50%;
    height: 760px;
}

.conteudo {
    width: 30%;
    height: 760px;
    vertical-align: middle;
    margin-top: 20%;
    margin-right: 5%;
    font-weight: 300;
}

#camadaUm {
    display: flex;
    flex-flow: row nowrap;
    background-color: rgba(217, 30, 24, 1);
    /*background-color: rgb(217, 30, 24);*/
    height: 100%;
    vertical-align: 760px;
    animation-name: backgroundCamadaUm;
    animation-duration:4s;
    animation-iteration-count:1;
}

#camadaDois {
    display: flex;
    flex-flow: row nowrap;
    background-color: rgba(145, 61, 136, 1);
    vertical-align: 760px;
    animation-name: backgroundCamadaDois;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

#camadaTres {
    display: flex;
    flex-flow: row nowrap;
    background-color: rgba(75, 119, 190, 1);
    vertical-align: 760px;
    animation-name: backgroundCamadaTres;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

#camadaQuatro {
    display: flex;
    flex-flow: row nowrap;
    background-color: rgba(31, 58, 147, 1);
    vertical-align: 760px;
    animation-name: backgroundCamadaQuatro;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

#camadaCinco {
    display: flex;
    flex-flow: row nowrap;
    background-color: rgba(171, 183, 183, 0.8);
}

#camadaSeis {
    display: flex;
    flex-flow: row nowrap;
    background-color: rgba(30, 130, 76, 0.8);
}

#contactContainer {
    height: 100vh;
    vertical-align: 100vh;
    width: 40%;
    margin: 20%;
    margin-left: 31%;
    margin-top: 10%;
    color: #d91e18;
    font-size: 26px;
    font-weight: 700;
}

#icones {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.icone {
    width: 25%;
}

.material-icons {
    font-size: 36px;
}

#contactEmail {
    margin: 5%;
    margin-left: 25%;
}

#formulario {
    margin: 5%;
}

textarea:focus:not([readonly]) {
    border-bottom: 1px solid #d91e18 !important;
    -webkit-box-shadow: 0 1px 0 0 #d91e18 !important;
    box-shadow: 0 1px 0 0 #d91e18 !important;
}

textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #d91e18 !important;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #d91e18 !important;
    -webkit-box-shadow: 0 1px 0 0 #d91e18 !important;
    box-shadow: 0 1px 0 0 #d91e18 !important;
}

    input:not([type]):focus:not([readonly]) + label, input[type=text]:not(.browser-default):focus:not([readonly]) + label, input[type=password]:not(.browser-default):focus:not([readonly]) + label, input[type=email]:not(.browser-default):focus:not([readonly]) + label, input[type=url]:not(.browser-default):focus:not([readonly]) + label, input[type=time]:not(.browser-default):focus:not([readonly]) + label, input[type=date]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label, input[type=tel]:not(.browser-default):focus:not([readonly]) + label, input[type=number]:not(.browser-default):focus:not([readonly]) + label, input[type=search]:not(.browser-default):focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
        color: #d91e18 !important;
    }

#icones {
    width: 70%;
    margin: 5%;
    margin-left: 20%;
}

#tree {
    margin-top: 10%;
    margin-left: 10%;
}
#luz {
    margin-top: 20%;
    margin-left: 20%;
}

.folha {
    display: inline-block;
}
#street {
    margin-top: 25%;
    margin-left: 10%;
}
#poste1 {
    position: absolute;
    margin-top: 19%;
    margin-left: -32%;
}
#poste2 {
    position: absolute;
    margin-top: 31%;
    margin-left: -31%;
}
#semaforo {
    position: absolute;
    margin-top: 16%;    
    right: 60%;
}
#bike {
    position: absolute;
    margin-top: 35%;
    margin-left: -13%;
}
#urbano {
    position: absolute;
    margin-top: 12%;
    right: 40%
}